*{
    margin: 0;
    padding: 0;
}
#header-image-container{
   display: flex;
   justify-content: center;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
}
h1{
    font-size: 80px;
   font-weight: 800;
   margin-bottom: 32px;
}
.header-image{
        width: 635px;
        height: 800px;
}
.shop-btn{
    padding: 20px 43px;
    border: none;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    border-radius: 8px;
    background: #E55473;
    margin-top: 32px;
}
.header-details{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}
/* main section */
.featured-flowers{
    text-align: center;
    margin-top: 178px;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.featured-flowers-description{
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}
.featured-flowers-image{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 128px;
}
.featured-img1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    display: block;
}

.featured-img2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    display: block;
    text-align: center;
}
.featured-img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    display: block;
}
.featured-links{
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
}
/* service section */
h4{
    font-family: Lato;
    font-size: 24px;
     font-weight: 600;
}
.service-section{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: cadetblue;
    width: 1440px;
    height: 320px;
    margin: auto;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
h3{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.sign-container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 128px;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 100%;
    height: 620px;
}
/* INSTAGRAM SECTION */
.instagram-text{
    text-align: center;
    margin-top: 128px;
}
h5{
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
/* instagram image section */
.instagram-image-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
    padding: 128px;
}
/* SUBSCRIBE IMAGE SECTION */
.subscribe-background-img{
     background-image: url('/flower-shop-assignment/Assets/Rectangle\ 9.png');
     width: 1440px;
     height: 449px;
     margin: auto;
}
input{
    width: 700px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: #FFF;
}
.input-container{
    position: relative;
    top:25x; 
    text-align: center;
    top: 40%;
}
/* footer section */
.footer-container{
    text-align: center;
    margin-top: 128px;
    background-color: black;
    color: white;
    width: 100%;
    height: 449px;
    padding-top:16%;
}
/* showcase section */
.showcase-text{
    text-align: center;
    margin-top: 80px;
}
.showcase-container,.showcase-img{
       display: flex;
        
        height: 500px;
        gap: 97px;
        margin: auto;
        margin-bottom: 128px;
        margin-top: 30px;
        
}